body{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

th{
    height: 3em;
    background-color: grey;
}

#verticalCol{
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 2em;
    font-weight: bold;
}

table, th, td{
    border:2px solid black;
    border-collapse: collapse;
}

table{
    border:5px;
    border-radius: 10px;
}

td, th{
    width: 11%;
    text-align: center;
}

h1{
    text-align: center;
}

caption{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 1em;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td:hover{
    background-color: grey;
}

